<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-">
    </head>

    <body>
    <h1>Home page <%= 6+7%> random: <%= num%></h1> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas libero aliquid sunt accusantium quasi? Quis soluta, accusamus expedita deserunt nihil magnam explicabo, tempore voluptatibus omnis doloremque atque aperiam! Ipsam, laborum?</p> 
    </body>
</html>