.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    transition: opacity 0.3s ease; 
    opacity: 1;
  }
  
  .modal-content {
    position: relative;
    background-color: #f9fafb; 
    border-radius: 1rem; 
    padding: 2rem;
    width: 100%;
    max-width: 30rem; 
    height: 70vh;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
    animation: slide-in 0.3s ease-out;
    overflow: hidden;
  }

  @keyframes slide-in {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Close Button */
  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
  }

  /* Headings and Subheading */
  .heading {
    font-size: 1.5rem; /* Larger heading */
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #111827; /* Darker text color */
    text-align: center;
  }
  
  .subheading {
    font-size: 1.125rem; /* Slightly smaller */
    color: #4b5563; /* Gray text */
    text-align: center;
    margin-bottom: 2rem;
  }
  
  /* Button Group */
  .button-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  
  /* Button Styles */
  .button {
    padding: 0.75rem 1.5rem; /* Larger padding for better touch targets */
    border-radius: 0.5rem; /* Slightly more rounded */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .button:hover {
    transform: translateY(-2px); /* Button hover effect */
  }
  
  /* New Game Button */
  .button-new-game {
    background-color: #3b82f6; /* Blue */
  }
  
  .button-new-game:hover {
    background-color: #2563eb; /* Darker blue */
  }
  
  .button-watch-replay {
    background-color: #6b7280; /* Gray */
  }
  
  .button-watch-replay:hover {
    background-color: #4b5563; /* Darker gray */
  }
  